.node-wrapper {
	display: flex;

    .left {
        width: 367px;
        padding: 40px 0 40px 0;
        width: 100%;
    }

    .right {
        width: calc(100% - 367px);
        padding: 40px;
        width: 100%;
        padding: 20px;
        border-left: 1px solid #242b37;
        .title {
            margin-bottom: 30px;
            display: flex;
            position: relative;
            h1 {
                color: #fff;
                font-size: 24px;
                font-family: 'GilroyExtraBold';
                width: calc(100% - 100px);
                p {
                    font-size: 14px;
                    font-family: 'GilroyLight';
                    margin-top: 10px;
                    span {
                        padding-left: 15px;
                        color: #A0AEC0;
                        &:before {
                            content: "";
                            display: inline-block;
                            width: 4px;
                            height: 4px;
                            background: #2A313C;
                            border-radius: 50%;
                            margin-right: 15px;
                        }
                        &:first-child {
                            padding-left: 0;
                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }
            .rightdiv {
                width: 100px;
                text-align: right;
                display: flex;
                a {
                    border: 1px solid #2A313C;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 5px;

                    img {
                        height: 16px;
                    }
                }
            }
            .btn-viewall {
                float: right;
                position: absolute;
                right: 0;
                top: -5px;
                font-size: 14px;
                color: #FAFAFA;
                background: #232B38;
                padding: 8px 12px;
                border-radius: 4px;
                line-height: 18px;
                font-family: 'GilroyLight';
                svg {
                    display: inline-block;
                    margin-left: 5px;
                }
            }
        }
    }
    .dashboard-tier1 .items .btn {
        margin-top: 30px;
        width: 100%;
        border-radius: 8px;
        font-family: 'GilroyExtraBold';
    }
}


.wrapper {
	display: flex;
	align-items: flex-start;
	padding-left: 250px;
    &.wallets {
        .pagetitle {
            border-bottom: 1px solid #2A313C;
        }
        .wrapper-content {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .node{
        .wrapper-content{
            padding-left: 0;
            .pagetitle{
                padding-left: 0;
            }
        }
    }

    &.delegation-details {
        .wrapper-content{
            .pagetitle {
                padding-left: 40px;
            }
        }
        .node-left-tier3{
            .items{
                .img{
                    img{
                        width: 48px;
	                    height: 48px;
                    }
                }
            }
        }
        .node-block-content{
            .fixheightdiv {
                min-height: 130px;
            }
        }
    }

}

.wrapper-content {
	width: 100%;
	padding: 130px 40px 40px 40px;
}

.dashboard-tier1 {
	margin-bottom: 40px;
    .items {
        position: relative;
    }
    .item1 {
        background: url(../../img/dashboard-tier1-box1-bg.png) no-repeat center #5129F1;
        background-size: cover;
        padding: 20px 30px;
        border-radius: 16px;
        min-height: 180px;
        h5 {
            font-size: 24px;
            line-height: 32px;
            font-family: 'GilroyExtraBold';
            font-weight: 700;
            color: #fff;
        }
        p {
            color: #fff;
            letter-spacing: 0.3px;
            font-size: 14px;
            margin-bottom: 20px;
            max-width: 247px;
            font-weight: 400;
        }
        .btn-container {
            a {
                background: #fff;
                padding: 10px 12px;
                display: inline-block;
                font-size: 14px;
                border-radius: 8px;
                font-family: 'GilroyExtraBold';
                font-weight: 700;
                svg {
                    display: inline-block;
                    margin-left: 5px;
                }
            }
        }
    }
    .item2 {
        padding: 20px;
        background: #1A202C;
        border: 1px solid #2A313C;
        border-radius: 16px;
        min-height: 180px;
        .text1 {
            color: #A0AEC0;
            font-size: 12px;
            letter-spacing: 0.4px;
            margin-bottom: 5px;
            padding-right: 30px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .text2 {
            color: #FAFAFA;
            font-size: 20px;
            letter-spacing: 0.4px;
            font-family: 'GilroyExtraBold';
            font-weight: 700;
            margin-bottom: 30px;
            padding-right: 30px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .icons {
        position: absolute;
        right: 15px;
        top: 20px;
    }
    
}